<div class="row">
    <div class="col col-6">
        <img [src]="user!.profilePic" />
    </div>
    <div class="col col-6">
        <h3>{{user!.name}}</h3>
        <h6>{{user!.email}}</h6>
        <h6>{{user!.phoneNumber}}</h6>
        <h6>{{user!.aadhaarId}}</h6>
    </div>
</div>

<hr>
<div class="row text-center">
    <h3>My Bookings </h3>
    <hr>


 <div class="input-group mb-3 w-50 p-2 justify-center">
        <input type="email" class="form-control" placeholder="serch by date" 
            
            name="search"  [(ngModel)]="search"
            aria-describedby="basic-addon1"
           >

        <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass">Search</i>
        </span>

    </div>



    <div class="table-responsive" *ngIf="user">
        <table class="table table-primary" *ngFor="let bookings of userBookings | search : search">
            <thead>
                <tr>
                    <th scope="col">Booking ID </th>
                    <th scope="col">No. of Days of Stay</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">Price </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td scope="row">{{bookings.id}}</td>
                    <td scope="row">{{bookings.numberOfDaysStay}}</td>
                    <td scope="row">{{bookings.bookingDate | date : 'longDate'}} </td>
                    <td scope="row">{{bookings.price}}</td>
                    <td scope="row">
                        <button class="btn btn-sm btn-danger bg-danger"
                            (click)="handleCancel(bookings.id)">cancel</button>  &nbsp;&nbsp;
                        <button class="btn btn-sm btn-secondary bg-secondary" (click)="handleEdit(bookings.id)">edit</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>



</div>

<pop-up title="Are you sure to cancel this booking ?" [(visible)]="visible" confirmText="Yes, cancel" cancelText="No"
    (done)="handleClick($event)">
</pop-up>



<pop-up title="Edit Booking "    [(visible)]="updatevisible"
             confirmText="Yes, UpdateBooking" cancelText="No"
             (done)="updateBookings($event)"
             >
    <!-- pop up body content -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col col-md-4">

            <h3>Room booking</h3>
            <form #bookingForm="ngForm">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>

                    <input type="email" class="form-control" placeholder="User email" aria-label="Username" required
                        email name="updateBooking.userId" [(ngModel)]="user!.email" aria-describedby="basic-addon1"
                        #emailField="ngModel" disabled>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <input type="number" class="form-control" placeholder="Number of days" aria-label="number of days"
                        [(ngModel)]="updateBooking.numberOfDaysStay" aria-describedby="basic-addon1" required
                        name="UpdateBooking.numberOfDays" />

                </div>
            </form>
        </div>
    </div>

</pop-up>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->

<!-- Modal -->
<!-- <div *ngIf="visible" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Do you really want to cancel</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Cancel</button>
          <button type="button" class="btn btn-primary">No</button>
        </div>
      </div>
    </div>
  </div> -->