
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://miro.medium.com/max/8576/1*p1zBnv11CSx_EII8sB9Uaw.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="https://tse1.mm.bing.net/th/id/OIP.2XrL-Qeud_0nRYLEe-EqqQHaE8?pid=ImgDet&rs=1"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://tse1.mm.bing.net/th/id/OIP.LXi2HaZAY7bCOTwR4T2SDgHaE7?pid=ImgDet&w=2000&h=1333&rs=1"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src=""
        class="https://tse4.mm.bing.net/th/id/OIP.30OjcsgtLFE8mrv8MQipzAHaEm?pid=ImgDet&w=900&h=560&rs=1"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://tse2.mm.bing.net/th/id/OIP.NfArhDgAGx4jJs_-FzFSVgHaE8?pid=ImgDet&w=1152&h=768&rs=1"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/60/8a/5e/queen-room.jpg?w=900&h=-1&s=1"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>

